*.py[co]
__pycache__/*
*.py[cod]
*$py.class
databases/*
!databases/README.md
private/*
*/.service/*
venv/
password.txt
apps/_dashboard/__init__.py
apps/_dashboard/diff2kryten.py
apps/_dashboard/static/components/mtable.html
apps/_dashboard/static/components/mtable.js
apps/_dashboard/static/css/future.css
apps/_dashboard/static/css/gitlog.min.css
apps/_dashboard/static/images/alert-blue.gif
apps/_dashboard/static/images/alert-green.gif
apps/_dashboard/static/images/alert-orange.gif
apps/_dashboard/static/images/alert-red.gif
apps/_dashboard/static/images/alert-yellow.gif
apps/_dashboard/static/images/forkme.png
apps/_dashboard/static/images/widget.gif
apps/_dashboard/static/js/ace/ace.js
apps/_dashboard/static/js/ace/ext-beautify.js
apps/_dashboard/static/js/ace/ext-chromevox.js
apps/_dashboard/static/js/ace/ext-elastic_tabstops_lite.js
apps/_dashboard/static/js/ace/ext-emmet.js
apps/_dashboard/static/js/ace/ext-error_marker.js
apps/_dashboard/static/js/ace/ext-keybinding_menu.js
apps/_dashboard/static/js/ace/ext-language_tools.js
apps/_dashboard/static/js/ace/ext-linking.js
apps/_dashboard/static/js/ace/ext-modelist.js
apps/_dashboard/static/js/ace/ext-old_ie.js
apps/_dashboard/static/js/ace/ext-searchbox.js
apps/_dashboard/static/js/ace/ext-settings_menu.js
apps/_dashboard/static/js/ace/ext-spellcheck.js
apps/_dashboard/static/js/ace/ext-split.js
apps/_dashboard/static/js/ace/ext-static_highlight.js
apps/_dashboard/static/js/ace/ext-statusbar.js
apps/_dashboard/static/js/ace/ext-textarea.js
apps/_dashboard/static/js/ace/ext-themelist.js
apps/_dashboard/static/js/ace/ext-whitespace.js
apps/_dashboard/static/js/ace/keybinding-emacs.js
apps/_dashboard/static/js/ace/keybinding-vim.js
apps/_dashboard/static/js/ace/mode-abap.js
apps/_dashboard/static/js/ace/mode-abc.js
apps/_dashboard/static/js/ace/mode-actionscript.js
apps/_dashboard/static/js/ace/mode-ada.js
apps/_dashboard/static/js/ace/mode-apache_conf.js
apps/_dashboard/static/js/ace/mode-applescript.js
apps/_dashboard/static/js/ace/mode-asciidoc.js
apps/_dashboard/static/js/ace/mode-assembly_x86.js
apps/_dashboard/static/js/ace/mode-autohotkey.js
apps/_dashboard/static/js/ace/mode-batchfile.js
apps/_dashboard/static/js/ace/mode-bro.js
apps/_dashboard/static/js/ace/mode-c9search.js
apps/_dashboard/static/js/ace/mode-c_cpp.js
apps/_dashboard/static/js/ace/mode-cirru.js
apps/_dashboard/static/js/ace/mode-clojure.js
apps/_dashboard/static/js/ace/mode-cobol.js
apps/_dashboard/static/js/ace/mode-coffee.js
apps/_dashboard/static/js/ace/mode-coldfusion.js
apps/_dashboard/static/js/ace/mode-csharp.js
apps/_dashboard/static/js/ace/mode-css.js
apps/_dashboard/static/js/ace/mode-curly.js
apps/_dashboard/static/js/ace/mode-d.js
apps/_dashboard/static/js/ace/mode-dart.js
apps/_dashboard/static/js/ace/mode-diff.js
apps/_dashboard/static/js/ace/mode-django.js
apps/_dashboard/static/js/ace/mode-dockerfile.js
apps/_dashboard/static/js/ace/mode-dot.js
apps/_dashboard/static/js/ace/mode-drools.js
apps/_dashboard/static/js/ace/mode-eiffel.js
apps/_dashboard/static/js/ace/mode-ejs.js
apps/_dashboard/static/js/ace/mode-elixir.js
apps/_dashboard/static/js/ace/mode-elm.js
apps/_dashboard/static/js/ace/mode-erlang.js
apps/_dashboard/static/js/ace/mode-forth.js
apps/_dashboard/static/js/ace/mode-fortran.js
apps/_dashboard/static/js/ace/mode-ftl.js
apps/_dashboard/static/js/ace/mode-gcode.js
apps/_dashboard/static/js/ace/mode-gherkin.js
apps/_dashboard/static/js/ace/mode-gitignore.js
apps/_dashboard/static/js/ace/mode-glsl.js
apps/_dashboard/static/js/ace/mode-gobstones.js
apps/_dashboard/static/js/ace/mode-golang.js
apps/_dashboard/static/js/ace/mode-groovy.js
apps/_dashboard/static/js/ace/mode-haml.js
apps/_dashboard/static/js/ace/mode-handlebars.js
apps/_dashboard/static/js/ace/mode-haskell.js
apps/_dashboard/static/js/ace/mode-haskell_cabal.js
apps/_dashboard/static/js/ace/mode-haxe.js
apps/_dashboard/static/js/ace/mode-hjson.js
apps/_dashboard/static/js/ace/mode-html.js
apps/_dashboard/static/js/ace/mode-html_elixir.js
apps/_dashboard/static/js/ace/mode-html_ruby.js
apps/_dashboard/static/js/ace/mode-ini.js
apps/_dashboard/static/js/ace/mode-io.js
apps/_dashboard/static/js/ace/mode-jack.js
apps/_dashboard/static/js/ace/mode-jade.js
apps/_dashboard/static/js/ace/mode-java.js
apps/_dashboard/static/js/ace/mode-javascript.js
apps/_dashboard/static/js/ace/mode-json.js
apps/_dashboard/static/js/ace/mode-jsoniq.js
apps/_dashboard/static/js/ace/mode-jsp.js
apps/_dashboard/static/js/ace/mode-jsx.js
apps/_dashboard/static/js/ace/mode-julia.js
apps/_dashboard/static/js/ace/mode-kotlin.js
apps/_dashboard/static/js/ace/mode-latex.js
apps/_dashboard/static/js/ace/mode-lean.js
apps/_dashboard/static/js/ace/mode-less.js
apps/_dashboard/static/js/ace/mode-liquid.js
apps/_dashboard/static/js/ace/mode-lisp.js
apps/_dashboard/static/js/ace/mode-live_script.js
apps/_dashboard/static/js/ace/mode-livescript.js
apps/_dashboard/static/js/ace/mode-logiql.js
apps/_dashboard/static/js/ace/mode-lsl.js
apps/_dashboard/static/js/ace/mode-lua.js
apps/_dashboard/static/js/ace/mode-luapage.js
apps/_dashboard/static/js/ace/mode-lucene.js
apps/_dashboard/static/js/ace/mode-makefile.js
apps/_dashboard/static/js/ace/mode-markdown.js
apps/_dashboard/static/js/ace/mode-mask.js
apps/_dashboard/static/js/ace/mode-matlab.js
apps/_dashboard/static/js/ace/mode-maze.js
apps/_dashboard/static/js/ace/mode-mel.js
apps/_dashboard/static/js/ace/mode-mips_assembler.js
apps/_dashboard/static/js/ace/mode-mipsassembler.js
apps/_dashboard/static/js/ace/mode-mushcode.js
apps/_dashboard/static/js/ace/mode-mysql.js
apps/_dashboard/static/js/ace/mode-nix.js
apps/_dashboard/static/js/ace/mode-nsis.js
apps/_dashboard/static/js/ace/mode-objectivec.js
apps/_dashboard/static/js/ace/mode-ocaml.js
apps/_dashboard/static/js/ace/mode-pascal.js
apps/_dashboard/static/js/ace/mode-perl.js
apps/_dashboard/static/js/ace/mode-pgsql.js
apps/_dashboard/static/js/ace/mode-php.js
apps/_dashboard/static/js/ace/mode-plain_text.js
apps/_dashboard/static/js/ace/mode-powershell.js
apps/_dashboard/static/js/ace/mode-praat.js
apps/_dashboard/static/js/ace/mode-prolog.js
apps/_dashboard/static/js/ace/mode-properties.js
apps/_dashboard/static/js/ace/mode-protobuf.js
apps/_dashboard/static/js/ace/mode-python.js
apps/_dashboard/static/js/ace/mode-r.js
apps/_dashboard/static/js/ace/mode-razor.js
apps/_dashboard/static/js/ace/mode-rdoc.js
apps/_dashboard/static/js/ace/mode-rhtml.js
apps/_dashboard/static/js/ace/mode-rst.js
apps/_dashboard/static/js/ace/mode-ruby.js
apps/_dashboard/static/js/ace/mode-rust.js
apps/_dashboard/static/js/ace/mode-sass.js
apps/_dashboard/static/js/ace/mode-scad.js
apps/_dashboard/static/js/ace/mode-scala.js
apps/_dashboard/static/js/ace/mode-scheme.js
apps/_dashboard/static/js/ace/mode-scss.js
apps/_dashboard/static/js/ace/mode-sh.js
apps/_dashboard/static/js/ace/mode-sjs.js
apps/_dashboard/static/js/ace/mode-smarty.js
apps/_dashboard/static/js/ace/mode-snippets.js
apps/_dashboard/static/js/ace/mode-soy_template.js
apps/_dashboard/static/js/ace/mode-space.js
apps/_dashboard/static/js/ace/mode-sql.js
apps/_dashboard/static/js/ace/mode-sqlserver.js
apps/_dashboard/static/js/ace/mode-stylus.js
apps/_dashboard/static/js/ace/mode-svg.js
apps/_dashboard/static/js/ace/mode-swift.js
apps/_dashboard/static/js/ace/mode-swig.js
apps/_dashboard/static/js/ace/mode-tcl.js
apps/_dashboard/static/js/ace/mode-tex.js
apps/_dashboard/static/js/ace/mode-text.js
apps/_dashboard/static/js/ace/mode-textile.js
apps/_dashboard/static/js/ace/mode-toml.js
apps/_dashboard/static/js/ace/mode-tsx.js
apps/_dashboard/static/js/ace/mode-twig.js
apps/_dashboard/static/js/ace/mode-typescript.js
apps/_dashboard/static/js/ace/mode-vala.js
apps/_dashboard/static/js/ace/mode-vbscript.js
apps/_dashboard/static/js/ace/mode-velocity.js
apps/_dashboard/static/js/ace/mode-verilog.js
apps/_dashboard/static/js/ace/mode-vhdl.js
apps/_dashboard/static/js/ace/mode-wollok.js
apps/_dashboard/static/js/ace/mode-xml.js
apps/_dashboard/static/js/ace/mode-xquery.js
apps/_dashboard/static/js/ace/mode-yaml.js
apps/_dashboard/static/js/ace/snippets/abap.js
apps/_dashboard/static/js/ace/snippets/abc.js
apps/_dashboard/static/js/ace/snippets/actionscript.js
apps/_dashboard/static/js/ace/snippets/ada.js
apps/_dashboard/static/js/ace/snippets/apache_conf.js
apps/_dashboard/static/js/ace/snippets/applescript.js
apps/_dashboard/static/js/ace/snippets/asciidoc.js
apps/_dashboard/static/js/ace/snippets/assembly_x86.js
apps/_dashboard/static/js/ace/snippets/autohotkey.js
apps/_dashboard/static/js/ace/snippets/batchfile.js
apps/_dashboard/static/js/ace/snippets/bro.js
apps/_dashboard/static/js/ace/snippets/c9search.js
apps/_dashboard/static/js/ace/snippets/c_cpp.js
apps/_dashboard/static/js/ace/snippets/cirru.js
apps/_dashboard/static/js/ace/snippets/clojure.js
apps/_dashboard/static/js/ace/snippets/cobol.js
apps/_dashboard/static/js/ace/snippets/coffee.js
apps/_dashboard/static/js/ace/snippets/coldfusion.js
apps/_dashboard/static/js/ace/snippets/csharp.js
apps/_dashboard/static/js/ace/snippets/css.js
apps/_dashboard/static/js/ace/snippets/curly.js
apps/_dashboard/static/js/ace/snippets/d.js
apps/_dashboard/static/js/ace/snippets/dart.js
apps/_dashboard/static/js/ace/snippets/diff.js
apps/_dashboard/static/js/ace/snippets/django.js
apps/_dashboard/static/js/ace/snippets/dockerfile.js
apps/_dashboard/static/js/ace/snippets/dot.js
apps/_dashboard/static/js/ace/snippets/drools.js
apps/_dashboard/static/js/ace/snippets/eiffel.js
apps/_dashboard/static/js/ace/snippets/ejs.js
apps/_dashboard/static/js/ace/snippets/elixir.js
apps/_dashboard/static/js/ace/snippets/elm.js
apps/_dashboard/static/js/ace/snippets/erlang.js
apps/_dashboard/static/js/ace/snippets/forth.js
apps/_dashboard/static/js/ace/snippets/fortran.js
apps/_dashboard/static/js/ace/snippets/ftl.js
apps/_dashboard/static/js/ace/snippets/gcode.js
apps/_dashboard/static/js/ace/snippets/gherkin.js
apps/_dashboard/static/js/ace/snippets/gitignore.js
apps/_dashboard/static/js/ace/snippets/glsl.js
apps/_dashboard/static/js/ace/snippets/gobstones.js
apps/_dashboard/static/js/ace/snippets/golang.js
apps/_dashboard/static/js/ace/snippets/groovy.js
apps/_dashboard/static/js/ace/snippets/haml.js
apps/_dashboard/static/js/ace/snippets/handlebars.js
apps/_dashboard/static/js/ace/snippets/haskell.js
apps/_dashboard/static/js/ace/snippets/haskell_cabal.js
apps/_dashboard/static/js/ace/snippets/haxe.js
apps/_dashboard/static/js/ace/snippets/hjson.js
apps/_dashboard/static/js/ace/snippets/html.js
apps/_dashboard/static/js/ace/snippets/html_elixir.js
apps/_dashboard/static/js/ace/snippets/html_ruby.js
apps/_dashboard/static/js/ace/snippets/ini.js
apps/_dashboard/static/js/ace/snippets/io.js
apps/_dashboard/static/js/ace/snippets/jack.js
apps/_dashboard/static/js/ace/snippets/jade.js
apps/_dashboard/static/js/ace/snippets/java.js
apps/_dashboard/static/js/ace/snippets/javascript.js
apps/_dashboard/static/js/ace/snippets/json.js
apps/_dashboard/static/js/ace/snippets/jsoniq.js
apps/_dashboard/static/js/ace/snippets/jsp.js
apps/_dashboard/static/js/ace/snippets/jsx.js
apps/_dashboard/static/js/ace/snippets/julia.js
apps/_dashboard/static/js/ace/snippets/kotlin.js
apps/_dashboard/static/js/ace/snippets/latex.js
apps/_dashboard/static/js/ace/snippets/lean.js
apps/_dashboard/static/js/ace/snippets/less.js
apps/_dashboard/static/js/ace/snippets/liquid.js
apps/_dashboard/static/js/ace/snippets/lisp.js
apps/_dashboard/static/js/ace/snippets/live_script.js
apps/_dashboard/static/js/ace/snippets/livescript.js
apps/_dashboard/static/js/ace/snippets/logiql.js
apps/_dashboard/static/js/ace/snippets/lsl.js
apps/_dashboard/static/js/ace/snippets/lua.js
apps/_dashboard/static/js/ace/snippets/luapage.js
apps/_dashboard/static/js/ace/snippets/lucene.js
apps/_dashboard/static/js/ace/snippets/makefile.js
apps/_dashboard/static/js/ace/snippets/markdown.js
apps/_dashboard/static/js/ace/snippets/mask.js
apps/_dashboard/static/js/ace/snippets/matlab.js
apps/_dashboard/static/js/ace/snippets/maze.js
apps/_dashboard/static/js/ace/snippets/mel.js
apps/_dashboard/static/js/ace/snippets/mips_assembler.js
apps/_dashboard/static/js/ace/snippets/mipsassembler.js
apps/_dashboard/static/js/ace/snippets/mushcode.js
apps/_dashboard/static/js/ace/snippets/mysql.js
apps/_dashboard/static/js/ace/snippets/nix.js
apps/_dashboard/static/js/ace/snippets/nsis.js
apps/_dashboard/static/js/ace/snippets/objectivec.js
apps/_dashboard/static/js/ace/snippets/ocaml.js
apps/_dashboard/static/js/ace/snippets/pascal.js
apps/_dashboard/static/js/ace/snippets/perl.js
apps/_dashboard/static/js/ace/snippets/pgsql.js
apps/_dashboard/static/js/ace/snippets/php.js
apps/_dashboard/static/js/ace/snippets/plain_text.js
apps/_dashboard/static/js/ace/snippets/powershell.js
apps/_dashboard/static/js/ace/snippets/praat.js
apps/_dashboard/static/js/ace/snippets/prolog.js
apps/_dashboard/static/js/ace/snippets/properties.js
apps/_dashboard/static/js/ace/snippets/protobuf.js
apps/_dashboard/static/js/ace/snippets/python.js
apps/_dashboard/static/js/ace/snippets/r.js
apps/_dashboard/static/js/ace/snippets/razor.js
apps/_dashboard/static/js/ace/snippets/rdoc.js
apps/_dashboard/static/js/ace/snippets/rhtml.js
apps/_dashboard/static/js/ace/snippets/rst.js
apps/_dashboard/static/js/ace/snippets/ruby.js
apps/_dashboard/static/js/ace/snippets/rust.js
apps/_dashboard/static/js/ace/snippets/sass.js
apps/_dashboard/static/js/ace/snippets/scad.js
apps/_dashboard/static/js/ace/snippets/scala.js
apps/_dashboard/static/js/ace/snippets/scheme.js
apps/_dashboard/static/js/ace/snippets/scss.js
apps/_dashboard/static/js/ace/snippets/sh.js
apps/_dashboard/static/js/ace/snippets/sjs.js
apps/_dashboard/static/js/ace/snippets/smarty.js
apps/_dashboard/static/js/ace/snippets/snippets.js
apps/_dashboard/static/js/ace/snippets/soy_template.js
apps/_dashboard/static/js/ace/snippets/space.js
apps/_dashboard/static/js/ace/snippets/sql.js
apps/_dashboard/static/js/ace/snippets/sqlserver.js
apps/_dashboard/static/js/ace/snippets/stylus.js
apps/_dashboard/static/js/ace/snippets/svg.js
apps/_dashboard/static/js/ace/snippets/swift.js
apps/_dashboard/static/js/ace/snippets/swig.js
apps/_dashboard/static/js/ace/snippets/tcl.js
apps/_dashboard/static/js/ace/snippets/tex.js
apps/_dashboard/static/js/ace/snippets/text.js
apps/_dashboard/static/js/ace/snippets/textile.js
apps/_dashboard/static/js/ace/snippets/toml.js
apps/_dashboard/static/js/ace/snippets/tsx.js
apps/_dashboard/static/js/ace/snippets/twig.js
apps/_dashboard/static/js/ace/snippets/typescript.js
apps/_dashboard/static/js/ace/snippets/vala.js
apps/_dashboard/static/js/ace/snippets/vbscript.js
apps/_dashboard/static/js/ace/snippets/velocity.js
apps/_dashboard/static/js/ace/snippets/verilog.js
apps/_dashboard/static/js/ace/snippets/vhdl.js
apps/_dashboard/static/js/ace/snippets/wollok.js
apps/_dashboard/static/js/ace/snippets/xml.js
apps/_dashboard/static/js/ace/snippets/xquery.js
apps/_dashboard/static/js/ace/snippets/yaml.js
apps/_dashboard/static/js/ace/theme-ambiance.js
apps/_dashboard/static/js/ace/theme-chaos.js
apps/_dashboard/static/js/ace/theme-chrome.js
apps/_dashboard/static/js/ace/theme-clouds.js
apps/_dashboard/static/js/ace/theme-clouds_midnight.js
apps/_dashboard/static/js/ace/theme-cobalt.js
apps/_dashboard/static/js/ace/theme-crimson_editor.js
apps/_dashboard/static/js/ace/theme-dawn.js
apps/_dashboard/static/js/ace/theme-dreamweaver.js
apps/_dashboard/static/js/ace/theme-eclipse.js
apps/_dashboard/static/js/ace/theme-github.js
apps/_dashboard/static/js/ace/theme-idle_fingers.js
apps/_dashboard/static/js/ace/theme-iplastic.js
apps/_dashboard/static/js/ace/theme-katzenmilch.js
apps/_dashboard/static/js/ace/theme-kr_theme.js
apps/_dashboard/static/js/ace/theme-kuroir.js
apps/_dashboard/static/js/ace/theme-merbivore.js
apps/_dashboard/static/js/ace/theme-merbivore_soft.js
apps/_dashboard/static/js/ace/theme-mono_industrial.js
apps/_dashboard/static/js/ace/theme-monokai.js
apps/_dashboard/static/js/ace/theme-pastel_on_dark.js
apps/_dashboard/static/js/ace/theme-solarized_dark.js
apps/_dashboard/static/js/ace/theme-solarized_light.js
apps/_dashboard/static/js/ace/theme-sqlserver.js
apps/_dashboard/static/js/ace/theme-terminal.js
apps/_dashboard/static/js/ace/theme-textmate.js
apps/_dashboard/static/js/ace/theme-tomorrow.js
apps/_dashboard/static/js/ace/theme-tomorrow_night.js
apps/_dashboard/static/js/ace/theme-tomorrow_night_blue.js
apps/_dashboard/static/js/ace/theme-tomorrow_night_bright.js
apps/_dashboard/static/js/ace/theme-tomorrow_night_eighties.js
apps/_dashboard/static/js/ace/theme-twilight.js
apps/_dashboard/static/js/ace/theme-vibrant_ink.js
apps/_dashboard/static/js/ace/theme-xcode.js
apps/_dashboard/static/js/ace/worker-coffee.js
apps/_dashboard/static/js/ace/worker-css.js
apps/_dashboard/static/js/ace/worker-html.js
apps/_dashboard/static/js/ace/worker-javascript.js
apps/_dashboard/static/js/ace/worker-json.js
apps/_dashboard/static/js/ace/worker-lua.js
apps/_dashboard/static/js/ace/worker-php.js
apps/_dashboard/static/js/ace/worker-xml.js
apps/_dashboard/static/js/ace/worker-xquery.js
apps/_dashboard/static/js/axios.min.js
apps/_dashboard/static/js/dbadmin.js
apps/_dashboard/static/js/highlight.min.js
apps/_dashboard/static/js/index.js
apps/_dashboard/static/js/jquery.min.js
apps/_dashboard/static/js/sugar.min.js
apps/_dashboard/static/js/translations.js
apps/_dashboard/static/js/utils.js
apps/_dashboard/static/js/vue.min.js
apps/_dashboard/templates/dbadmin.html
apps/_dashboard/templates/gitlog.html
apps/_dashboard/templates/index.html
apps/_dashboard/templates/ticket.html
apps/_dashboard/templates/translations.html
apps/_dashboard/translations/README.md
apps/_dashboard/utils.py
apps/_documentation/__init__.py
apps/_documentation/static/en/_images/_scaffold.png
apps/_documentation/static/en/_images/command.png
apps/_documentation/static/en/_images/dashboard.png
apps/_documentation/static/en/_images/dashboard_edit.png
apps/_documentation/static/en/_images/dashboard_error.png
apps/_documentation/static/en/_images/dashboard_login.png
apps/_documentation/static/en/_images/dashboard_main.png
apps/_documentation/static/en/_images/dashboard_new_app.png
apps/_documentation/static/en/_images/dashboard_restapi.png
apps/_documentation/static/en/_images/dashboard_ticket.png
apps/_documentation/static/en/_images/first_run.png
apps/_documentation/static/en/_images/form1.png
apps/_documentation/static/en/_images/form2.png
apps/_documentation/static/en/_images/form3.png
apps/_documentation/static/en/_images/form4.png
apps/_documentation/static/en/_images/form5.png
apps/_documentation/static/en/_images/form6.png
apps/_documentation/static/en/_images/grid.png
apps/_documentation/static/en/_images/grid_bulmacss.png
apps/_documentation/static/en/_images/grid_columns.png
apps/_documentation/static/en/_images/grid_nocss.png
apps/_documentation/static/en/_images/logo.png
apps/_documentation/static/en/_images/main_page.png
apps/_documentation/static/en/_images/restapi.png
apps/_documentation/static/en/_images/restapi2.png
apps/_documentation/static/en/_images/simple_counter.png
apps/_documentation/static/en/_images/tags2.png
apps/_documentation/static/en/_images/tags_db.png
apps/_documentation/static/en/_static/basic.css
apps/_documentation/static/en/_static/css/badge_only.css
apps/_documentation/static/en/_static/css/dark.css
apps/_documentation/static/en/_static/css/theme.css
apps/_documentation/static/en/_static/css/toggle.css
apps/_documentation/static/en/_static/doctools.js
apps/_documentation/static/en/_static/documentation_options.js
apps/_documentation/static/en/_static/file.png
apps/_documentation/static/en/_static/js/badge_only.js
apps/_documentation/static/en/_static/js/html5shiv-printshiv.min.js
apps/_documentation/static/en/_static/js/html5shiv.min.js
apps/_documentation/static/en/_static/js/theme.js
apps/_documentation/static/en/_static/js/toggle.js
apps/_documentation/static/en/_static/language_data.js
apps/_documentation/static/en/_static/logo.png
apps/_documentation/static/en/_static/minus.png
apps/_documentation/static/en/_static/plus.png
apps/_documentation/static/en/_static/pygments.css
apps/_documentation/static/en/_static/searchtools.js
apps/_documentation/static/en/_static/sphinx_highlight.js
apps/_documentation/static/en/_static/tabs.css
apps/_documentation/static/en/_static/tabs.js
apps/_documentation/static/en/chapter-01.html
apps/_documentation/static/en/chapter-02.html
apps/_documentation/static/en/chapter-03.html
apps/_documentation/static/en/chapter-04.html
apps/_documentation/static/en/chapter-05.html
apps/_documentation/static/en/chapter-06.html
apps/_documentation/static/en/chapter-07.html
apps/_documentation/static/en/chapter-08.html
apps/_documentation/static/en/chapter-09.html
apps/_documentation/static/en/chapter-10.html
apps/_documentation/static/en/chapter-11.html
apps/_documentation/static/en/chapter-12.html
apps/_documentation/static/en/chapter-13.html
apps/_documentation/static/en/chapter-14.html
apps/_documentation/static/en/chapter-15.html
apps/_documentation/static/en/chapter-16.html
apps/_documentation/static/en/dark.css
apps/_documentation/static/en/genindex.html
apps/_documentation/static/en/index.html
apps/_documentation/static/en/search.html
apps/_documentation/static/en/searchindex.js
apps/_documentation/static/en/toggle.css
apps/_documentation/static/index.html
apps/_documentation/static/pt/_images/_scaffold.png
apps/_documentation/static/pt/_images/command.png
apps/_documentation/static/pt/_images/dashboard.png
apps/_documentation/static/pt/_images/dashboard_edit.png
apps/_documentation/static/pt/_images/dashboard_error.png
apps/_documentation/static/pt/_images/dashboard_login.png
apps/_documentation/static/pt/_images/dashboard_main.png
apps/_documentation/static/pt/_images/dashboard_new_app.png
apps/_documentation/static/pt/_images/dashboard_restapi.png
apps/_documentation/static/pt/_images/dashboard_ticket.png
apps/_documentation/static/pt/_images/first_run.png
apps/_documentation/static/pt/_images/form1.png
apps/_documentation/static/pt/_images/form2.png
apps/_documentation/static/pt/_images/form3.png
apps/_documentation/static/pt/_images/form4.png
apps/_documentation/static/pt/_images/form5.png
apps/_documentation/static/pt/_images/form6.png
apps/_documentation/static/pt/_images/grid.png
apps/_documentation/static/pt/_images/grid_bulmacss.png
apps/_documentation/static/pt/_images/grid_columns.png
apps/_documentation/static/pt/_images/grid_nocss.png
apps/_documentation/static/pt/_images/logo.png
apps/_documentation/static/pt/_images/main_page.png
apps/_documentation/static/pt/_images/restapi.png
apps/_documentation/static/pt/_images/restapi2.png
apps/_documentation/static/pt/_images/simple_counter.png
apps/_documentation/static/pt/_images/tags2.png
apps/_documentation/static/pt/_images/tags_db.png
apps/_documentation/static/pt/_static/base-stemmer.js
apps/_documentation/static/pt/_static/basic.css
apps/_documentation/static/pt/_static/css/badge_only.css
apps/_documentation/static/pt/_static/css/dark.css
apps/_documentation/static/pt/_static/css/theme.css
apps/_documentation/static/pt/_static/css/toggle.css
apps/_documentation/static/pt/_static/doctools.js
apps/_documentation/static/pt/_static/documentation_options.js
apps/_documentation/static/pt/_static/file.png
apps/_documentation/static/pt/_static/js/badge_only.js
apps/_documentation/static/pt/_static/js/html5shiv-printshiv.min.js
apps/_documentation/static/pt/_static/js/html5shiv.min.js
apps/_documentation/static/pt/_static/js/theme.js
apps/_documentation/static/pt/_static/js/toggle.js
apps/_documentation/static/pt/_static/language_data.js
apps/_documentation/static/pt/_static/logo.png
apps/_documentation/static/pt/_static/minus.png
apps/_documentation/static/pt/_static/plus.png
apps/_documentation/static/pt/_static/portuguese-stemmer.js
apps/_documentation/static/pt/_static/pygments.css
apps/_documentation/static/pt/_static/searchtools.js
apps/_documentation/static/pt/_static/sphinx_highlight.js
apps/_documentation/static/pt/_static/tabs.css
apps/_documentation/static/pt/_static/tabs.js
apps/_documentation/static/pt/_static/translations.js
apps/_documentation/static/pt/chapter-01.html
apps/_documentation/static/pt/chapter-02.html
apps/_documentation/static/pt/chapter-03.html
apps/_documentation/static/pt/chapter-04.html
apps/_documentation/static/pt/chapter-05.html
apps/_documentation/static/pt/chapter-06.html
apps/_documentation/static/pt/chapter-07.html
apps/_documentation/static/pt/chapter-08.html
apps/_documentation/static/pt/chapter-09.html
apps/_documentation/static/pt/chapter-10.html
apps/_documentation/static/pt/chapter-11.html
apps/_documentation/static/pt/chapter-12.html
apps/_documentation/static/pt/chapter-13.html
apps/_documentation/static/pt/chapter-14.html
apps/_documentation/static/pt/chapter-15.html
apps/_documentation/static/pt/chapter-16.html
apps/_documentation/static/pt/dark.css
apps/_documentation/static/pt/genindex.html
apps/_documentation/static/pt/index.html
apps/_documentation/static/pt/search.html
apps/_documentation/static/pt/searchindex.js
apps/_documentation/static/pt/toggle.css
apps/_minimal/__init__.py
apps/_minimal/static/README.md
apps/_scaffold/__init__.py
apps/_scaffold/common.py
apps/_scaffold/controllers.py
apps/_scaffold/databases/fb87181b96a99be45f5a23f4277867ce_auth_user.table
apps/_scaffold/databases/fb87181b96a99be45f5a23f4277867ce_auth_user_tag_groups.table
apps/_scaffold/databases/sql.log
apps/_scaffold/databases/storage.db
apps/_scaffold/models.py
apps/_scaffold/settings.py
apps/_scaffold/static/css/no.css
apps/_scaffold/static/js/utils.js
apps/_scaffold/static/README.md
apps/_scaffold/tasks.py
apps/_scaffold/templates/auth.html
apps/_scaffold/templates/generic.html
apps/_scaffold/templates/index.html
apps/_scaffold/templates/layout.html
apps/_scaffold/templates/README.md
apps/_scaffold/translations/it.json
