[[extend 'layout.html']]

<head>
  <base href="[[=URL('static')]]/">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bulma.css">
  <link rel="stylesheet" href="css/landing.css">
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
</head>

<body>
  <section class="hero is-light">
    <div class="hero-body">
      <div class="columns is-centered is-variable is-8 my-4">
        <div class="column is-one-third">
          <p class="title overview">Welcome to Open Genome Explorer!</p>
          <p class="subtitle overview">
            Open Genome Explorer is a web app that utilizes the genetic information you upload to provide insights about 
            your genome. It interfaces with open source SNP databases, such as OpenSNP, to display information 
            about your genetic risk factors based on allele combinations.
          </p>
        </div>
        <div class="column is-one-quarter is-flex is-align-items-center">
          <img src="images/logo.PNG">
        </div>
      </div>

      <div class="has-text-centered">
        <a class="button is-medium is-dark" href="[[=URL('home')]]">Get Started</a>
      </div>
    </div>
  </section>

  <div class="columns is-centered is-variable is-8" style="margin-top: 30px">
    <div class="column is-one-fifth has-text-centered">
      <p class="title description">
        <strong>Create an account</strong>
      </p>
      <p class="subtitle description">Sign up or log in using your Google account to save and access your genomic data at any time</p>
    </div>
    <div class="column is-one-fifth has-text-centered">
      <p class="title description">
        <strong>Upload your genomic information</strong>
      </p>
      <p class="subtitle description">Share your genetic data from sources like 23&me and compare your information to open source databases</p>
    </div>
    <div class="column is-one-fifth has-text-centered">
      <p class="title description">
        <strong>Explore your genome</strong>
      </p>
      <p class="subtitle description">Discover valuable insights and understanding about your health traits and potential risk factors</p>
    </div>
  </div>
</body>