[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>


<div class="section" id="vue-target" v-cloak>
  <div v-if="user_snps.length < 1 && hide_upload == false" class="field has-addons">
    <p class="control">
      <div v-if="!upload_done" class="file is-info">
        <label class="file-label">
          <input class="file-input" type="file" @change="upload_file($event)">
          <span class="file-cta">
            <span class="file-icon">
              <i v-if="uploading" class="fa fa-spinner fa-pulse fa-fw"></i>
              <i v-else class="fa fa-upload fa-fw"></i>
            </span>
            <span class="file-label">
              <span v-if="!uploading">Upload new file</span>
            </span>
          </span>
        </label>
      </div>
    </p>
    <p class="control">
      <button v-if="file_path" class="button" @click="download_file" :class="{'disabled': !file_path}">
        <span class="icon">
          <i class="fa fa-download fa-fw"></i>
        </span>
        <span>{{file_info}}</span>
      </button>
      <button v-else class="button is-static">No file uploaded</button>
    </p>
  </div>

  <div v-if="user_snps.length > 1" id="SNPs">
    <div class="table-container">
      <table class="table">
        <!-- Your table content -->
        <thead>
          <tr>
            <th><abbr title="rsid">rsid</abbr></th>
            <th><abbr title="Allele1">allele1</abbr></th>
            <th><abbr title="Allele2">allele2</abbr></th>
            <th><abbr title="Summary">Summary</abbr></th>
            <th><abbr title="Weight Of Evidence">WoE</abbr></th>
            <th><abbr title="URL">URL</abbr></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th><abbr title="rsid">rsid</abbr></th>
            <th><abbr title="Allele1">allele1</abbr></th>
            <th><abbr title="Allele2">allele2</abbr></th>
            <th><abbr title="Summary">Summary</abbr></th>
            <th><abbr title="Weight Of Evidence">WoE</abbr></th>
            <th><abbr title="URL">URL</abbr></th>
          </tr>
        </tfoot>
        <tbody>
          <tr v-for="SNP in user_snps.slice(start_index, end_index)">
            <td>{{SNP.rsid}}</td>
            <td>{{SNP.allele1}}</td>
            <td>{{SNP.allele2}}</td>
            <td>{{SNP.summary}}</td>
            <td>{{SNP.weight_of_evidence}}</td>
            <td>{{SNP.url}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <nav class="pagination" role="navigation" aria-label="pagination">
      <a class="pagination-previous" @click="retrieve_snps(cur_page_num-1)">Previous</a>
      <a class="pagination-next" @click="retrieve_snps(cur_page_num+1)">Next page</a>
    </nav>
  </div>
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let auth_verify_url = "[[=XML(auth_verify_url)]]";
  let get_snps_url = "[[=XML(get_snps_url)]]";
  let file_upload_url = "[[=XML(file_upload_url)]]";
</script>
<script type="module" src="js/index.js"></script>
[[end]]
