[[extend 'layout.html']]

<head>
  <base href="[[=URL('static')]]/">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bulma.css">
  <link rel="stylesheet" href="css/landing.css">
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
</head>

<body>

    <div>
        <div class="has-text-centered">
            <h1>Step 1:</h1>
            <p>Download your SNP array file from 23&me, AncestryDNA, or similar websites.</p>
            <br>
            <a class="button" href="https://customercare.23andme.com/hc/en-us/articles/212196868-Accessing-Your-Raw-Genetic-Data">23&Me Instructions</a>
            <br>
            <a class="button" href="https://support.ancestry.com/s/article/Downloading-DNA-Data?language=en_US">AncestryDNA Instructions</a>

            <br>
            <br>
            <h1>Step 2:</h1>
            <p>Store it locally and make an account on this website via the button below</p>
            <br>
            <br>

            <h1>Step 3:</h1>
            <p>Upload your file and peruse the results</p>
            <br>
            <p>You may also view results that other users have shared and even leave comments!</p>
        </div>
    </div>

    <br>

    <div class="has-text-centered">
        <a class="button is-medium is-dark" href="[[=URL('home')]]">Get Started</a>
    </div>

</body>

[[block page_scripts]]
<script>
  let use_gcs = use_gcs || false;
</script>
[[end]]